* {
    background-color: rgb(255, 255, 255);
}

.cardExplore {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 50px;
    align-items: center;
    justify-content: center;

}

.thumbnail {
    width: 200px;
}